USE [master]
GO
/****** Object:  Database [DB_QLSanBong]    Script Date: 12/14/2023 4:25:16 PM ******/
CREATE DATABASE [DB_QLSanBong]
GO
USE [DB_QLSanBong]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUKM]    Script Date: 12/14/2023 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUKM](
	[MAPHIEU] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[THOIHAN] [date] NULL,
 CONSTRAINT [PK_CTKM] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHUTHU]    Script Date: 12/14/2023 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHUTHU](
	[MAPHUTHU] [int] NOT NULL,
	[MADATSAN] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[MASAN] [varchar](10) NOT NULL,
	[NGAYDAT] [date] NOT NULL,
	[GIOBATDAU] [time](7) NOT NULL,
 CONSTRAINT [PK_CTPHUTHU] PRIMARY KEY CLUSTERED 
(
	[MAPHUTHU] ASC,
	[MADATSAN] ASC,
	[MASAN] ASC,
	[NGAYDAT] ASC,
	[GIOBATDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/14/2023 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](255) NULL,
	[SDT] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[LOAIKH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichDatSan]    Script Date: 12/14/2023 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichDatSan](
	[MADATSAN] [varchar](10) NOT NULL,
	[MASAN] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[MANV] [varchar](8) NULL,
	[NGAYDAT] [date] NOT NULL,
	[GIOBATDAU] [time](7) NOT NULL,
	[GIOKETTHUC] [time](7) NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_LichDatSan] PRIMARY KEY CLUSTERED 
(
	[MADATSAN] ASC,
	[MASAN] ASC,
	[NGAYDAT] ASC,
	[GIOBATDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/14/2023 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [varchar](8) NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [varchar](20) NULL,
	[LUONG] [money] NULL,
	[THUONG] [money] NULL,
	[LOAINV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUKHUYENMAI]    Script Date: 12/14/2023 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKHUYENMAI](
	[MAPHIEU] [varchar](10) NOT NULL,
	[MALOAIKM] [int] NULL,
	[TENLOAIKM] [nvarchar](30) NULL,
	[SOTIENKM] [money] NULL,
	[MANV] [varchar](8) NULL,
 CONSTRAINT [PK_PHIEUKM] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUTHU]    Script Date: 12/14/2023 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUTHU](
	[MAPHUTHU] [int] IDENTITY(1,1) NOT NULL,
	[TENPHUTHU] [nvarchar](20) NULL,
	[SOLUONGTON] [int] NULL,
	[GIA] [money] NULL,
 CONSTRAINT [PK_PHUTHU] PRIMARY KEY CLUSTERED 
(
	[MAPHUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanBong]    Script Date: 12/14/2023 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanBong](
	[MASAN] [varchar](10) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[LOAISAN] [int] NULL,
	[GIATHUE] [int] NULL,
	[TINHTRANGSAN] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/14/2023 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[username] [varchar](30) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[EMAIL] [varchar](30) NULL,
	[MANV] [varchar](8) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]


GO
create TRIGGER [dbo].[Trg_ThanhTien]
on [dbo].[LichDatSan]
for insert
as
BEGIN
  
	update LichDatSan
	set THANHTIEN=(((select GIATHUE from SanBong where MASAN=(select MASAN from inserted))/60)*(select datediff(MINUTE,(select GIOBATDAU from inserted),(select GIOKETTHUC from inserted)) AS ThoiGianLech FROM LichDatSan WHERE MADATSAN = (select MADATSAN from inserted)))
	where MADATSAN=(select MADATSAN from inserted)

END;
GO


go
create TRIGGER Trg_KTGioBatDau
ON LichDatSan
AFTER INSERT, UPDATE
AS
BEGIN
    
    IF EXISTS (
        SELECT 1
        FROM inserted
        WHERE GIOBATDAU > GIOKETTHUC
    )
    BEGIN
       Print N'Giờ bắt đầu phải nhỏ hơn giờ kết thúc'
        ROLLBACK TRANSACTION;
    END;
END;
go

go
create TRIGGER Trg_KTThoigiandatsan
ON LichDatSan
FOR INSERT,update
AS
BEGIN
    -- Kiểm tra sự trùng lặp về thời gian đặt sân cho cùng một sân
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN LichDatSan l ON i.MASAN = l.MASAN AND i.NGAYDAT = l.NGAYDAT
        WHERE (
            (i.GIOBATDAU BETWEEN l.GIOBATDAU AND l.GIOKETTHUC)
            OR (i.GIOKETTHUC BETWEEN l.GIOBATDAU AND l.GIOKETTHUC)
            OR (l.GIOBATDAU BETWEEN i.GIOBATDAU AND i.GIOKETTHUC)
            OR (l.GIOKETTHUC BETWEEN i.GIOBATDAU AND i.GIOKETTHUC)
        )
        AND i.MADATSAN <> l.MADATSAN -- Loại trừ trường hợp tự thêm vào chính dòng đã thêm
    )
    BEGIN
        -- Nếu có sự trùng lặp, không cho phép thêm dữ liệu
        print(N'Thời gian đặt sân bị trùng lặp cho cùng một sân!');
        ROLLBACK;
    END
END;

go


GO
INSERT [dbo].[CHITIETPHUTHU] ([MAPHUTHU], [MADATSAN], [SOLUONG], [MASAN], [NGAYDAT], [GIOBATDAU]) VALUES (1, N'DS006', 1, N'S001', CAST(N'2023-12-29' AS Date), CAST(N'18:07:19' AS Time))
INSERT [dbo].[CHITIETPHUTHU] ([MAPHUTHU], [MADATSAN], [SOLUONG], [MASAN], [NGAYDAT], [GIOBATDAU]) VALUES (2, N'DS006', 1, N'S001', CAST(N'2023-12-29' AS Date), CAST(N'18:07:19' AS Time))
GO
INSERT [dbo].[KhachHang] ([MAKH], [HOTEN], [SDT], [EMAIL], [LOAIKH]) VALUES (N'KH001', N'Nguyễn Văn Anh', N'0912345678', N'nguyenvana@gmail.com', N'VIP')
INSERT [dbo].[KhachHang] ([MAKH], [HOTEN], [SDT], [EMAIL], [LOAIKH]) VALUES (N'KH002', N'Trần Thị Ba', N'0923456789', N'tranthib@gmail.com', N'KH thân thiết')
INSERT [dbo].[KhachHang] ([MAKH], [HOTEN], [SDT], [EMAIL], [LOAIKH]) VALUES (N'KH003', N'Đặng Hoàng An', N'0923456710', N'exmample1@gmail.com', N'KH bình thường')
GO
INSERT [dbo].[LichDatSan] ([MADATSAN], [MASAN], [MAKH], [MANV], [NGAYDAT], [GIOBATDAU], [GIOKETTHUC], [THANHTIEN]) VALUES (N'DS001', N'S004', N'KH001', N'NV001', CAST(N'2023-10-29' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:30:00' AS Time), NULL)
INSERT [dbo].[LichDatSan] ([MADATSAN], [MASAN], [MAKH], [MANV], [NGAYDAT], [GIOBATDAU], [GIOKETTHUC], [THANHTIEN]) VALUES (N'DS002', N'S001', N'KH001', N'NV001', CAST(N'2023-10-26' AS Date), CAST(N'14:00:00' AS Time), CAST(N'15:30:00' AS Time), NULL)
INSERT [dbo].[LichDatSan] ([MADATSAN], [MASAN], [MAKH], [MANV], [NGAYDAT], [GIOBATDAU], [GIOKETTHUC], [THANHTIEN]) VALUES (N'DS003', N'S002', N'KH002', N'NV002', CAST(N'2023-10-27' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), NULL)
GO
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [SDT], [LUONG], [THUONG], [LOAINV]) VALUES (N'NV001', N'Trần Văn Giang', N'NAM', CAST(N'2000-01-28' AS Date), N'0334492433', 5000000.0000, NULL, N'Phuc Vu')
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [SDT], [LUONG], [THUONG], [LOAINV]) VALUES (N'NV002', N'Trần Anh Quốc', N'NAM', CAST(N'2002-03-28' AS Date), N'0334492433', 4000000.0000, NULL, N'Phuc Vu')
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [SDT], [LUONG], [THUONG], [LOAINV]) VALUES (N'NV003', N'Nguyễn Thiện Nhân', N'NỮ', CAST(N'2003-01-11' AS Date), N'0334492433', 7000000.0000, NULL, N'Phuc Vu')
GO
INSERT [dbo].[PHIEUKHUYENMAI] ([MAPHIEU], [MALOAIKM], [TENLOAIKM], [SOTIENKM], [MANV]) VALUES (N'PHIEU001', 1, N'Lần đầu đặt sân', 20000.0000, N'NV005')
INSERT [dbo].[PHIEUKHUYENMAI] ([MAPHIEU], [MALOAIKM], [TENLOAIKM], [SOTIENKM], [MANV]) VALUES (N'PHIEU002', 2, N'Đặt sân mốc 5 ', 500000.0000, N'NV005')
INSERT [dbo].[PHIEUKHUYENMAI] ([MAPHIEU], [MALOAIKM], [TENLOAIKM], [SOTIENKM], [MANV]) VALUES (N'PHIEU003', 2, N'Đặt sân mốc 10', 700000.0000, N'NV005')
GO
SET IDENTITY_INSERT [dbo].[PHUTHU] ON 

INSERT [dbo].[PHUTHU] ([MAPHUTHU], [TENPHUTHU], [SOLUONGTON], [GIA]) VALUES (1, N'Redbull', 99, 47000.0000)
INSERT [dbo].[PHUTHU] ([MAPHUTHU], [TENPHUTHU], [SOLUONGTON], [GIA]) VALUES (2, N'Sting', 149, 25000.0000)
INSERT [dbo].[PHUTHU] ([MAPHUTHU], [TENPHUTHU], [SOLUONGTON], [GIA]) VALUES (3, N'Nước suối ', 80, 10000.0000)
SET IDENTITY_INSERT [dbo].[PHUTHU] OFF
GO
INSERT [dbo].[SanBong] ([MASAN], [TEN], [DIACHI], [LOAISAN], [GIATHUE], [TINHTRANGSAN]) VALUES (N'S001', N'Sân bóng Celadon', N'123 Nguyễn Văn Trỗi, TP.HCM', 5, 120000, NULL)
INSERT [dbo].[SanBong] ([MASAN], [TEN], [DIACHI], [LOAISAN], [GIATHUE], [TINHTRANGSAN]) VALUES (N'S002', N'Sân bóng Celadon', N'123 Nguyễn Văn Trỗi, TP.HCM', 5, 120000, NULL)
INSERT [dbo].[SanBong] ([MASAN], [TEN], [DIACHI], [LOAISAN], [GIATHUE], [TINHTRANGSAN]) VALUES (N'S003', N'Sân bóng Celadon', N'123 Nguyễn Văn Trỗi, TP.HCM', 5, 120000, NULL)
GO
INSERT [dbo].[TAIKHOAN] ([username], [password], [EMAIL], [MANV]) VALUES (N'minh', N'1', N'hoangminhwer@gmail.com', N'NV001')
INSERT [dbo].[TAIKHOAN] ([username], [password], [EMAIL], [MANV]) VALUES (N'minh1', N'1', N'hoangmin@gmail.com', N'NV005')
GO
ALTER TABLE [dbo].[CHITIETPHIEUKM]  WITH CHECK ADD  CONSTRAINT [FK_CTKM_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[CHITIETPHIEUKM] CHECK CONSTRAINT [FK_CTKM_KHACHHANG]
GO
ALTER TABLE [dbo].[CHITIETPHIEUKM]  WITH CHECK ADD  CONSTRAINT [FK_CTKM_PHIEUKHUYENMAI] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUKHUYENMAI] ([MAPHIEU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUKM] CHECK CONSTRAINT [FK_CTKM_PHIEUKHUYENMAI]
GO
ALTER TABLE [dbo].[CHITIETPHUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CTPHUTHU_LichDatSan] FOREIGN KEY([MADATSAN], [MASAN], [NGAYDAT], [GIOBATDAU])
REFERENCES [dbo].[LichDatSan] ([MADATSAN], [MASAN], [NGAYDAT], [GIOBATDAU])
GO
ALTER TABLE [dbo].[CHITIETPHUTHU] CHECK CONSTRAINT [FK_CTPHUTHU_LichDatSan]
GO
ALTER TABLE [dbo].[CHITIETPHUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CTPHUTHU_PHUTHU] FOREIGN KEY([MAPHUTHU])
REFERENCES [dbo].[PHUTHU] ([MAPHUTHU])
GO
ALTER TABLE [dbo].[CHITIETPHUTHU] CHECK CONSTRAINT [FK_CTPHUTHU_PHUTHU]
GO
ALTER TABLE [dbo].[LichDatSan]  WITH CHECK ADD FOREIGN KEY([MASAN])
REFERENCES [dbo].[SanBong] ([MASAN])
GO
ALTER TABLE [dbo].[LichDatSan]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichDatSan]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUKHUYENMAI] CHECK CONSTRAINT [FK_PHIEU_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([Gioitinh]=N'NAM' OR [Gioitinh]=N'NỮ'))
GO
USE [master]
GO
